body {
    background-color: #d3d3d3c9;
    margin: 0;
    padding: 0;
}

form {
    background-color: #faf7f7;
    padding: 25px;
    border: 1px solid #999999; 
    max-width: 600px;
    margin: 30px auto;
    border-radius: 0; 
}

form h4 {
    color: #26a69a;
    margin-top: 0;
    margin-bottom: 15px;
}

form p {
    color: #333;
    margin: 5px 0 15px 0;
}

form .resultado {
    background:  #faf7f7;
    padding: 12px;
    margin-top: 20px;
    border-radius: 0;
}

input[type="submit"] {
    background: #666;
    border: 1px solid #555;
    padding: 10px 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 0; 
}

input[type="submit"]:hover {
    background: #4df0e03b
;
}
