h1 {
  color: rgb(226, 3, 3);
}

body {
  background-color: rgba(247, 137, 35, 0.692);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #f0d4a5;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #e6551c;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
}