@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url('https://img.freepik.com/fotos-premium/por-do-sol-ceu-estrela-fundo-luz-nascer-do-sol-natureza-sobre-a-cidade_288539-4573.jpg') center/cover no-repeat;
}

h1 {
  color: rgb(236, 126, 1);
  margin-bottom: 20px;
  text-align: center;
}

form {
  background: rgba(248, 238, 231, 0.507);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(132, 255, 245, 0.699);
  width: 100%;
  max-width: 450px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #006680;
}

input[type="number"] {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #e2c104;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #f8f5f1c5;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 14px 0;
  background-color: #f38304;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #006680;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #fd8719a9;
}
.result {
  font-size: 20px;
  color:#006680;
  margin-top: 30px;
}
